node_modules
node_modules/

# development
local
local/
ai-references/

# deployment
.aws-sam/
samconfig.toml.bak
*.js.map
package.zip
generated

# production
/build
/**/dist
/frontend/build

.nyc_output/
.env
.env.production
.db.env

# misc
/**/.vscode
.DS_Store
*.pem
.env
.env.json
.env.local
.env.development.local
.env.test.local
.env.production.local